<script>
  (function(d, s) {
    var js,
        fjs = d.getElementsByTagName(s)[0],
        load = function(url, id) {
          if (d.getElementById(id)) {return;}
          js = d.createElement(s); js.src = url; js.id = id;
          fjs.parentNode.insertBefore(js, fjs);
        };
    load('//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=212646065416408&version=v2.0', 'fbjssdk');
    load('//platform.twitter.com/widgets.js', 'tweetjs');
    load('//apis.google.com/js/plusone.js', 'gplusjs');
    load('//www.google-analytics.com/analytics.js', 'gajs');
  }(document, 'script'));

  ga('create', 'UA-2317436-26', 't32k.me');
  ga('send', 'pageview');
</script>