{% if site.inc.sharing.twitter or site.inc.sharing.facebook or site.inc.sharing.gplus or site.inc.sharing.hn %}
<div class="social">
    {% if site.inc.sharing.twitter %}
        <a href="https://twitter.com/share" class="twitter-share-button" {% if site.inc.sharing.twitter.via %}data-via="{{ site.inc.sharing.twitter.via }}"{% endif %} data-text="{{ page.title }}" data-related="{{ site.inc.twitter }}">Tweet</a>
    {% endif %}
    {% if site.inc.sharing.facebook %}
        <div class="fb-like" data-width="150" data-layout="button_count" data-action="like" data-show-faces="true" data-send="false"></div>
    {% endif %}
    {% if site.inc.sharing.gplus %}
        <div class="g-plusone" data-size="medium"></div>
    {% endif %}
</div>
{% endif %}