/*
* Skeleton V2.0.2
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
*/


/* MOL
–––––––––––––––––––––––––––––––––––––––––––––––––– */

img {
    vertical-align: middle;
}

blockquote {
    margin: 0;
    font-size: 14px;
    color: #999;
    border-left: .4rem #ddd solid;
    padding-left: 3rem;
}

.rm {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
}

.rm iframe {
    position: absolute;
    top: 0;
    right: 0;
    width: 100% !important;
    height: 100% !important;
}

.ad {
    margin-bottom: 10px;
    padding: 10px 10px 0;
    background: #efefef;
    text-align: center;
}

.ad a,
.ad iframe {
    display: block;
    margin: auto;
}

.ad:after {
    content: "AD";
    display: block;
    color: #4f4f4f;
    font-size: 12px;
}

.hero {
    width: 100%;
    height: 340px;
    margin: -3rem 0 3rem;
    background: #efefef top center no-repeat;
    background-size: cover;
}


/* Site
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.site-header {
    margin-bottom: 3rem;
    background: #F5F8FC;
}

.site-header img {
    vertical-align: middle;
}

.site-header a {
    display: block;
    float: left;
    padding: 1.5rem 1.5rem 1.1rem;
    color: #4C566C;
    font-size: 14px;
    border-bottom: 3px transparent solid;
}

.site-header a:hover {
    color: #4C566C;
    border-bottom: 3px #1ABC9C solid;
}

.site-footer {
    margin-top: 3.5rem;
    padding-top: 3rem;
    border-top: 1px #cfcfcf solid;
    color: #4f4f4f;
    background: #f0f0f0;
}

.site-author {
    margin: auto;
    font-size: 12px;
}

.site-author-pic {
    border: 3px #fff solid;
    border-radius: 42px;
    transition-property: border;
    transition-duration: 1s;
    transition-timing-function: ease-out;
}

a:hover .site-author-pic {
    border: 3px #1ABC9C solid;
}

.site-author-info {
    margin-left: 11rem
}

.site-author-desc {
    margin-bottom: 1em
}

.social-links {
    list-style: none;
}

.social-links li {
    display: inline;
    margin-right: 8px;
}

.social-links svg {
    fill: #BDBDBD;
    width: 24px;
    height: 24px;
    transition-property: fill;
    transition-duration: .5s;
    transition-timing-function: ease-out;
}

a:hover .social-links-rss {
    fill: #FF7043;
}

a:hover .social-links-twitter {
    fill: #29B6F6;
}

a:hover .social-links-github {
    fill: #444;
}

a:hover .social-links-dribbble {
    fill: #FE378A;
}

a:hover .social-links-linkedin {
    fill: #42A5F5;
}

.site-copyright {
    text-align: center;
}

.c-article {
    margin-top: 3rem;
    margin-bottom: 3.5rem;
    padding-top: 3rem;
    border-width: 0;
    border-bottom: 1px solid #E1E1E1;
}

.c-article:last-child {
    border: 0;
}

.c-article h3 {
    margin-bottom: 1rem;
}


/* Post
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.post-header {
    margin-bottom: 4rem;
}

.post-header::after {
    display: block;
    margin: 1rem 0;
    width: 3rem;
    height: .3rem;
    background: #ddd;
    content: " ";
}

.post-h1 {
    margin: 1rem 0 0 0 !important;
}

.post-desc {
    margin-top: -2rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
}

.post-social {
    margin: 4rem 0 0;
}

.post-social svg {
    margin-right: 12px;
    width: 24px;
    height: 24px;
}

.post-pager {
    font-size: 14px;
}

.post-next {
    text-align: right;
}

.post img {
    position: relative;
    z-index: 1;
    max-width: 100%;
    border-radius: .4rem;
}

.post .citation {
    background: #fafafa;
    border-left: .4rem #BBDEFB solid;
    color: #777;
    font-size: 14px;
    font-style: normal;
    padding: .75em;
    display: block;
}

.post table {
    width: 100%;
    border-collapse: collapse;
}

.post tr {
    border-top: 1px solid #CCC;
}

.post th,
.post td {
    padding: 6px 12px;
    border: 1px solid #DDD;
}

.post table tr:nth-child(2n) {
    background-color: #f8f8f8
}

.post .citation img {
    width: 40px;
    border-radius: 40px;
    margin: 0 .5em 0 0;
}

.post .fluid {
    position: relative;
    height: 20em;
    margin-bottom: 2.5em;
}

.post .fluid iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.post .azlink-box {
    margin-bottom: 2.5rem;
}

.post h2,
.post h3,
.post h4 {
    margin-top: 4rem;
}

.post-tags a {
    display: inline-block;
    line-height: 22px;
    padding: 5px 10px;
    border-radius: 3px;
    color: rgba(0, 0, 0, 0.6);
    background: rgba(0, 0, 0, 0.05);
    font-size: 13px;
}

.post-tags a:hover {
    color: rgba(0, 0, 0, 0.6);
    background: rgba(0, 0, 0, 0.1);
}

.post-tags a::first-letter {
    text-transform: uppercase;
}

.cse-box {
    color: #4f4f4;
    text-align: center;
}

.cse-box .text {
    width: 200px;
    line-height: 36px;
    margin: 0.5em 1em;
    padding: 0 1em;
    border: 0;
    border-radius: 2px;
    background-position: 1em center !important;
    background-color: white;
    font-size: 16px;
}

.cse-box .button {
    line-height: 34px;
    margin: 1px 0;
    padding: 0 2em;
    border: 1px #cfcfcf solid;
    border-radius: 2px;
    color: rgba(0, 0, 0, 0.6);
    background: rgba(0, 0, 0, 0.05);
    font-size: 14px;
}

.cse-box .button:hover {
    color: rgba(0, 0, 0, 0.6);
    background: rgba(0, 0, 0, 0.1);
}


/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.container {
    position: relative;
    width: 90%;
    max-width: 640px;
    margin: 0 auto;
    box-sizing: border-box;
}

.column,
.columns {
    width: 100%;
    float: left;
    box-sizing: border-box;
}


/* For devices larger than 400px */

@media (min-width: 400px) {
    .container {
        width: 85%;
        padding: 0;
    }
}


/* For devices larger than 550px */

@media (min-width: 550px) {
    .container {
        width: 80%;
        padding: 0;
    }
    .ad {
        float: right;
        margin-bottom: 0;
    }
    .column,
    .columns {
        margin-left: 4%;
    }
    .column:first-child,
    .columns:first-child {
        margin-left: 0;
    }
    .one.column,
    .one.columns {
        width: 4.66666666667%;
    }
    .two.columns {
        width: 13.3333333333%;
    }
    .three.columns {
        width: 22%;
    }
    .four.columns {
        width: 30.6666666667%;
    }
    .five.columns {
        width: 39.3333333333%;
    }
    .six.columns {
        width: 48%;
    }
    .seven.columns {
        width: 56.6666666667%;
    }
    .eight.columns {
        width: 65.3333333333%;
    }
    .nine.columns {
        width: 74.0%;
    }
    .ten.columns {
        width: 82.6666666667%;
    }
    .eleven.columns {
        width: 91.3333333333%;
    }
    .twelve.columns {
        width: 100%;
        margin-left: 0;
    }
    .one-third.column {
        width: 30.6666666667%;
    }
    .two-thirds.column {
        width: 65.3333333333%;
    }
    .one-half.column {
        width: 48%;
    }
    /* Offsets */
    .offset-by-one.column,
    .offset-by-one.columns {
        margin-left: 8.66666666667%;
    }
    .offset-by-two.column,
    .offset-by-two.columns {
        margin-left: 17.3333333333%;
    }
    .offset-by-three.column,
    .offset-by-three.columns {
        margin-left: 26%;
    }
    .offset-by-four.column,
    .offset-by-four.columns {
        margin-left: 34.6666666667%;
    }
    .offset-by-five.column,
    .offset-by-five.columns {
        margin-left: 43.3333333333%;
    }
    .offset-by-six.column,
    .offset-by-six.columns {
        margin-left: 52%;
    }
    .offset-by-seven.column,
    .offset-by-seven.columns {
        margin-left: 60.6666666667%;
    }
    .offset-by-eight.column,
    .offset-by-eight.columns {
        margin-left: 69.3333333333%;
    }
    .offset-by-nine.column,
    .offset-by-nine.columns {
        margin-left: 78.0%;
    }
    .offset-by-ten.column,
    .offset-by-ten.columns {
        margin-left: 86.6666666667%;
    }
    .offset-by-eleven.column,
    .offset-by-eleven.columns {
        margin-left: 95.3333333333%;
    }
    .offset-by-one-third.column,
    .offset-by-one-third.columns {
        margin-left: 34.6666666667%;
    }
    .offset-by-two-thirds.column,
    .offset-by-two-thirds.columns {
        margin-left: 69.3333333333%;
    }
    .offset-by-one-half.column,
    .offset-by-one-half.columns {
        margin-left: 52%;
    }
}


/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */


/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */

html {
    font-size: 10px;
}

body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    /* currently ems cause chrome bug misinterpreting rems on body element */
    line-height: 1.6;
    font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, sans-serif;
    color: rgba(0, 0, 0, 0.87);
    -moz-font-feature-settings: "palt";
    -webkit-font-feature-settings: "palt";
    font-feature-settings: "palt";
}


/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 2rem;
    font-weight: 300;
}

h1 {
    font-size: 30px;
    line-height: 1.2;
}

h2 {
    font-size: 26px;
    line-height: 1.25;
}

h3 {
    font-size: 20px;
    line-height: 1.3;
}

h4 {
    font-size: 14px;
    line-height: 1.35;
}

h5 {
    font-size: 8px;
    line-height: 1.5;
}

h6 {
    font-size: 6px;
    line-height: 1.6;
}


/* Larger than phablet */

@media (min-width: 550px) {
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 32px;
    }
    h3 {
        font-size: 26px;
    }
    h4 {
        font-size: 20px;
    }
    h5 {
        font-size: 14px;
    }
    h6 {
        font-size: 8px;
    }
}

p {
    margin-top: 0;
}


/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */

a {
    color: #5FA9FF;
    text-decoration: none;
}

a:hover {
    color: #477fbf;
}


/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */

ul {
    list-style: circle;
}

ol {
    list-style: decimal;
}

ol,
ul {
    padding-left: 0;
    margin-top: 0;
}

ul ul,
ul ol,
ol ol,
ol ul {
    margin: 1.5rem 0 1.5rem 3rem;
    font-size: 16px;
}

li {
    margin-bottom: 1rem;
}


/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */

code {
    padding: .2rem .5rem;
    margin: 0 .2rem;
    color: #CC2255;
    white-space: nowrap;
    font-size: 16px;
    background: #F1F1F1;
    border: 1px solid #E1E1E1;
    border-radius: 4px;
}

pre > code {
    display: block;
    padding: 1rem 1.5rem;
    white-space: pre;
    overflow: hidden;
}


/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

button,
.button {
    margin-bottom: 1rem;
}

input,
textarea,
select,
fieldset {
    margin-bottom: 1.5rem;
}

pre,
blockquote,
form,
dl,
figure,
table,
p,
ul,
ol,
form {
    margin-bottom: 2.5rem;
}

p {
    margin-top: 0;
}


/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.u-full-width {
    width: 100%;
    box-sizing: border-box;
}

.u-max-full-width {
    max-width: 100%;
    box-sizing: border-box;
}

.u-pull-right {
    float: right;
}

.u-pull-left {
    float: left;
}

.u-dn {
    display: none;
}

.u-mute {
    color: rgba(0, 0, 0, 0.54);
}

.u-txs {
    font-size: 14px;
}

.u-mtn {
    margin-top: 0 !important;
}

.u-mbn {
    margin-bottom: 0 !important;
}

.u-mrm {
    margin-right: 10px !important;
}


/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */

hr {
    margin-top: 3rem;
    margin-bottom: 3.5rem;
    border-width: 0;
    border-top: 1px solid #E1E1E1;
}


/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */


/* Self Clearing Goodness */

.container:after,
.row:after,
.u-cf {
    content: "";
    display: table;
    clear: both;
}


/* github.com style (c) Vasily Polovnyov <vast@whiteants.net> */

.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    color: #333;
    background: #f8f8f8;
    -webkit-text-size-adjust: none;
}

.hljs-comment,
.diff .hljs-header,
.hljs-javadoc {
    color: #998;
    font-style: italic;
}

.hljs-keyword,
.css .rule .hljs-keyword,
.hljs-winutils,
.nginx .hljs-title,
.hljs-subst,
.hljs-request,
.hljs-status {
    color: #333;
    font-weight: bold;
}

.hljs-number,
.hljs-hexcolor,
.ruby .hljs-constant {
    color: #008080;
}

.hljs-string,
.hljs-tag .hljs-value,
.hljs-phpdoc,
.hljs-dartdoc,
.tex .hljs-formula {
    color: #d14;
}

.hljs-title,
.hljs-id,
.scss .hljs-preprocessor {
    color: #900;
    font-weight: bold;
}

.hljs-list .hljs-keyword,
.hljs-subst {
    font-weight: normal;
}

.hljs-class .hljs-title,
.hljs-type,
.vhdl .hljs-literal,
.tex .hljs-command {
    color: #458;
    font-weight: bold;
}

.hljs-tag,
.hljs-tag .hljs-title,
.hljs-rules .hljs-property,
.django .hljs-tag .hljs-keyword {
    color: #000080;
    font-weight: normal;
}

.hljs-attribute,
.hljs-variable,
.lisp .hljs-body {
    color: #008080;
}

.hljs-regexp {
    color: #009926;
}

.hljs-symbol,
.ruby .hljs-symbol .hljs-string,
.lisp .hljs-keyword,
.clojure .hljs-keyword,
.scheme .hljs-keyword,
.tex .hljs-special,
.hljs-prompt {
    color: #990073;
}

.hljs-built_in {
    color: #0086b3;
}

.hljs-preprocessor,
.hljs-pragma,
.hljs-pi,
.hljs-doctype,
.hljs-shebang,
.hljs-cdata {
    color: #999;
    font-weight: bold;
}

.hljs-deletion {
    background: #fdd;
}

.hljs-addition {
    background: #dfd;
}

.diff .hljs-change {
    background: #0086b3;
}

.hljs-chunk {
    color: #aaa;
}