{{ partial "head.html" . }}
{{ partial "header.html" . }}
<div class="container">
<article role="main" class="post">
    <header class="post-header">
        <p class="u-mute u-mbn"><time datetime='{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}'>{{ .Date.Format "January 2, 2006" }}</time></p>
        <h1 class="post-h1">{{ .Title }}</h1>
        {{ with .Params.subtitle }} <h3 class="u-mute u-mtn">{{ . }}</h3>{{ end }}
    </header>
    <section>
        {{ .Content }}
    </section>
</article>

    <div class="post-tag">
        {{ with .Params.categories }}<div>Categories:{{ range . }} <a href="/categories/{{ . }}/">{{ . }}</a>{{ end }}</div>{{ end }}

        <a href="/mol/categories/{{ .Params.categories }}">{{ .Params.categories }}</a>
    </div>
    {{ partial "social.html" .}}
<hr>
{{ partial "ad.html" . }}
{{ partial "pager.html" .}}
{{ partial "footer.html" . }}
{{ partial "tail.html" . }}
