{{ partial "head.html" . }}
{{ partial "header.html" . }}

    <article role="main" class="post">
        <header class="post-header">
            <time datetime='{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}' class="u-mute">{{ .Date.Format "January 2, 2006" }}</time>
            <h1 class="post-h1 m-0">{{ .Title }}</h1>
            {{ with .Params.subtitle }} <h4 class="u-mute">{{ . }}</h4>{{ end }}
        </header>
        <section>
            {{ .Content }}
        </section>
    </article>

    <div class="post-social" style="margin: 30px 0">
        <a href="https://twitter.com/share" class="twitter-share-button" data-related="t32k">Tweet</a>
        <div class="fb-like" data-width="150" data-layout="button_count" data-action="like" data-show-faces="true" data-send="false"></div>
        <div class="g-plusone" data-size="medium"></div>
    </div>

    {{ partial "author.html" .}}

    <div class="row post-pagination">
        <div class="six columns">
            <div class="post-previous">
                {{with .Prev}}
                    Later article<br>
                    <a href="{{.Permalink}}"> {{.Title}}</a>
                {{else}}
                    &nbsp;
                {{end}}
            </div>
        </div>
        <div class="six columns">
            <div class="post-next">
                {{with .Next}}
                    Older article<br>
                    <a href="{{.Permalink}}"> {{.Title}}</a>
                {{else}}
                    &nbsp;
                {{end}}
            </div>
        </div>
    </div>

{{ partial "footer.html" . }}
{{ partial "tail.html" . }}