
<div class="post-author u-cf">
    <p class="u-pull-left"><img src="http://t32k.me/static/assets/img/me.jpg" width="64" height="64" alt class="post-author-pic"></p>
    <p class="post-author-info">Written by <strong>{{ .Site.Params.author }}</strong>, Web Developer in Vancouver.<br>
        <a href="http://cloud.feedly.com/#subscription%2Ffeed%2Fhttp%3A%2F%2Ft32k.me%2Fmol%2Findex.xml" target="blank">
            <img src="/mol/images/parts/feedly.png" width="20" height="20" alt> Subscribe on feedly.</a>
    </p>
</div>