<hr>
<div class="site-ad">
  <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-1326877318485833"
       data-ad-slot="7307465775"
       data-ad-format="auto"></ins>
</div>
<!-- /.container --></div>

{{ partial "svg.html" . }}

<footer class="site-footer">
  <div class="container">
    <div class="site-author u-cf">
      <p class="u-pull-left"><a href="/">
        <img src="http://t32k.me/static/assets/img/me.jpg" width="80" height="80" alt="t32k" class="site-author-pic"></a></p>
      <div class="site-author-info">
        <p class="site-author-desc">石本 光司（いしもと こうじ）1983年石川県生まれ。大学でデザインを専攻後、晴れてWebデザイナーになるが、コーディング好きが高じてWebデベロッパーに転身。現在は、カナダ・バンクーバーでワーキングホリデー/職探し中。</p>
        <ul class="social-links">
          <li><a href="http://t32k.me/mol/index.xml" title="RSS">
            <svg class="social-links-rss"><use xlink:href="#shape-rss"/></svg>
          </a></li>
          <li><a href="https://twitter.com/t32k" title="Twitter">
            <svg class="social-links-twitter"><use xlink:href="#shape-twitter"/></svg>
          </a></li>
          <li><a href="https://github.com/t32k" title="GitHub">
            <svg class="social-links-github"><use xlink:href="#shape-github"/></svg>
          </a></li>
          <li><a href="https://www.behance.net/t32k" title="Behance">
            <svg class="social-links-behance"><use xlink:href="#shape-behance"/></svg>
          </a></li>
          <li><a href="https://www.linkedin.com/in/kojiishimoto" title="LinkedIn">
            <svg class="social-links-linkedin"><use xlink:href="#shape-linkedin"/></svg>
          </a></li>
        </ul>
      </div>
    </div>
    <p class="site-copyright"><small role="contentinfo">&copy; 2007 t32k.me</small></p>
  <!-- /.container --></div>
</footer>