<!-- /.container -->
</div>
<footer class="site-footer">
  <div class="container">
    <div class="site-author u-cf">
      <p class="u-pull-left"><a href="/">
          <img src="/mol/images/people/me.jpg" width="80" height="80" alt="t32k" class="site-author-pic"></a></p>
      <div class="site-author-info">
        <p class="site-author-desc">石本 光司（いしもと こうじ）1983年石川県生まれ。大学でデザインを専攻後、晴れてWebデザイナーになるが、コーディング好きが高じてWebデベロッパーに転身。</p>
        <ul class="social-links">
          <li><a href="//t32k.me/mol/index.xml" title="RSS">
              <svg class="social-links-rss">
                <use xlink:href="#shape-rss" /></svg>
            </a></li>
          </a></li>
          <li><a href="//github.com/t32k" title="GitHub">
              <svg class="social-links-github">
                <use xlink:href="#shape-github" /></svg>
            </a></li>
          <li><a href="//dribbble.com/t32k" title="Dribbble">
              <svg class="social-links-dribbble">
                <use xlink:href="#shape-dribbble" /></svg>
            </a></li>
          <li><a href="//www.linkedin.com/in/kojiishimoto" title="LinkedIn">
              <svg class="social-links-linkedin">
                <use xlink:href="#shape-linkedin" /></svg>
            </a></li>
        </ul>
      </div>
    </div>
    <p class="site-copyright"><small role="contentinfo">&copy; 2007 t32k.me</small></p>
    <!-- /.container -->
  </div>
</footer>