<div class="post-social">
  <a href="http://b.hatena.ne.jp/add?mode=confirm&title={{ .Title }} - {{ .Site.Title }}&url={{.Permalink}}" title="はてなブックマークで共有する"
    target="_blank" rel="noopener"><svg>
      <use xlink:href="#post-hb" /></svg></a>
  <a href="https://twitter.com/share?url={{.Permalink}}&text={{ .Title }} - {{ .Site.Title }}" title="Twitterで共有する"
    target="_blank" rel="noopener"><svg>
      <use xlink:href="#post-tw" /></svg></a>
  <a href="https://www.facebook.com/sharer/sharer.php?u={{.Permalink}}" title="Facebookで共有する" target="_blank" rel="noopener"><svg>
      <use xlink:href="#post-fb" /></svg></a>
</div>