<!doctype html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>{{ .Title }} - Designing for a Mobile World!</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{ with .Params.excerpt }}<meta name="description" content="{{ . }}">{{ end }}
  <meta property="og:type" content="article">
  <meta property="og:site_name" content="MOL">
  {{ with .Params.ogimage }}<meta property="og:image" content="{{ . }}">{{ end }}
  <meta property="fb:app_id" content="212646065416408">
  <link rel="canonical" href="{{ .Permalink }}">
  <link rel="stylesheet" href="/mol/css/skeleton.css">
  <link rel="publisher" href="//plus.google.com/+kojiishimoto">
  <link rel="alternate" href="/mol/index.xml" type="application/rss+xml" title="{{ .Site.Title }}">
</head>
<body role="document">
{{ partial "svg.html" . }}
{{ partial "header.html" . }}
<div class="container">

  <div class="ad" style="margin:0">
    <a href="http://px.a8.net/svt/ejp?a8mat=2HK2TG+5E3CRE+2GMK+NZJYP" target="_blank">
      <img border="0" width="250" height="250" alt="" src="http://www21.a8.net/svt/bgt?aid=150422596326&wid=002&eno=01&mid=s00000011486004029000&mc=1"></a>
    <img border="0" width="1" height="1" src="http://www13.a8.net/0.gif?a8mat=2HK2TG+5E3CRE+2GMK+NZJYP" alt="">
  </div>

  {{ range first 14 .Data.Pages }}
    {{ .Render "summary"}}
  {{ end }}

  {{ partial "ad.html" . }}

  {{ partial "footer.html" . }}
{{ partial "tail.html" . }}