<!doctype html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <title>{{ .Title }} - Designing for a Mobile World!</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {{ with .Params.excerpt }}
  <meta name="description" content="{{ . }}" />
  {{ end }}
  <meta property="og:type" content="article" />
  <meta property="og:site_name" content="MOL" />
  {{ with .Params.ogimage }}
  <meta property="og:image" content="{{ . }}">{{ end }}
  <meta property="fb:app_id" content="212646065416408" />
  <link rel="canonical" href="{{ .Permalink }}" />
  <link rel="preload" as="style"
    href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=optional" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=optional" />
  <link rel="stylesheet" href="/mol/css/layout.css?201909025" />
  <link rel="stylesheet" href="/mol/css/app.css?201909025" />
  <link rel="alternate" href="/mol/index.xml" type="application/rss+xml" title="{{ .Site.Title }}" />
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"
    data-ad-client="ca-pub-1326877318485833"></script>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-2317436-26"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'UA-2317436-26');
  </script>
</head>

<body role="document">
  {{ partial "svg.html" . }}
  {{ partial "header.html" . }}
  <div class="container">

    <div class="ad" style="margin:0">
      <ins class="adsbygoogle" style="display:inline-block;width:336px;height:280px"
        data-ad-client="ca-pub-1326877318485833" data-ad-slot="7647294979"></ins>
      <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
    </div>

    {{ range first 14 .Data.Pages }} {{ .Render "summary"}} {{ end }}
    {{ partial "ad.html" . }}
    {{ partial "footer.html" . }}
</body>

</html>