article {
    padding:60px 0;
    background:#fff;
    font-size:18px;

    .container > header, .container > section, .container > footer {
        margin:0 5em;
    }

    .social {
        padding:10px 0;
        height:40px;
        
        > div {
            display:inline-block;
            min-width:120px;
            line-height: 12px;
        }
    }

    .container > footer {
        margin-top:1.5em;
        margin-bottom:1.5em;
        padding-top:1.5em;
        padding-bottom:1.5em;
        border-top:1px solid #ddd;
        border-bottom:1px solid #ddd;
    }

    header {
        margin-top:2em;
        margin-bottom:2em;

        &::after {
            display:block;
            margin:1em 0;
            width:1.5em;
            height:0.2em;
            background:#ddd;
            content:" ";
        }
    }


    address {
        margin:0;
        max-height:48px;
        font-size:0.9em;
        
        p {
            display:inline-block;
            margin:0;
        }

        img {
            display: inline-block;
            margin: 0 20px 0 0;
            margin-top: -28px;
            width: 64px;
            height: 64px;
            border-radius: 54px;
        }       
        
        .follow {
            margin:1em 0 0;
        }

    }

    p {
        margin:0 0 1.5em;
        color:$text;
        font-weight:400;
        font-size:1em;
        line-height:1.5;
    }
    
    
    ol, ul {
        margin: 1.5em 0;
        padding: 0;
        padding-left: 1.5em;
        list-style-position: outside;
        font-weight: 600;
        
        li {
            margin-bottom:0.5em;
            font-weight:400;
        }
    }
    blockquote {
        margin: 1.5em;
        padding: 1.5em;
        border: 0;
        border-radius: 3px;
        color: #004B6A;
        background: rgba(122, 181, 214, 0.1);
        font-size: 16px;
        font-family: "Georgia", Times, sans-serif;
        line-height: 1.4em;
    }
    h1 {
        margin:0.5em 0 1em;
        font-weight:600;
        font-size:2.1em;
    }

    h2 {
        margin:0.5em 0 1em;
        font-weight:600;
        font-size:1.5em;
    }

    h3 {
        font-weight:600;
        font-size:1.3em;
    }

    h4 {
        font-weight:600;
        font-size:1.2em;
    }

    hr {
        margin:3em 0;
    }

    .meta {
        margin-bottom:0.3em;
        color:$textmuted;
        text-transform:uppercase;
        letter-spacing:1px;
        font-weight:400;
        font-size:13px;

        time, address {
            display:inline;
            font-size:13px;
        }

        a {
            border:0;
            color:$textmuted;
        }
    }

    img {
        margin:1em 0;
        max-width:100%;
        height:auto;
    }


    .title {
        margin:0.2em 0;
        font-weight:bold;

        a {
            border:0;
        }
    }


    .subtitle {
        margin: 0.2em 0;
        color: $textmuted;
        font-weight: 300;
        font-size: 1.4em;
    }


    .highlight {
        border:0;

        .lineno {
            color:$textmuted;
        }
    }

    pre {
        display: block;
        overflow-x: auto;
        margin: 1.5em;
        padding: 1.5em;
        border: 0;
        border-radius: 3px;
        background: #F5F2F0;
        code {
            border: 0;
        }
    }
    
    code {
        border-radius:2px;
        color:#222;
    } 

    .rounded img {
        border-radius:6px;
    }
    
    .border img {
        border:1px solid #ddd;
    }

    .full {
        margin:1.5em -6em;
        padding:0;
        text-align:center;

        iframe {
            max-width:100% !important;
        }

        img {
            margin:0;
            max-width:100%;
            transition:0.5s all ease;
        }


        &.zoomable {
            img {
                cursor: -webkit-zoom-in;
            }
        }

        &.zoomable img.zoom {
            cursor: -webkit-zoom-out;
        }

        &.zoomable img.zoom {
            box-shadow:0 2px 5px rgba(0,0,0,0.5);
            transition:0.4s all ease;
            -webkit-transform:scale(1.2);
        }
    }

}