---
layout: base
---

{% if page.cover_image %}
<div class="article-cover">
  <div>
    <img src="/mol/images{{ page.cover_image }}" class="image">
  </div>
</div>
{% endif %}
<article>
  <div class="container">
    <header>
      <div class="meta">
        By
        <address><a href="//plus.google.com/u/0/+KojiIshimoto/posts" rel="author">Koji Ishimoto</a>
        </address> &mdash;
        <time pubdate datetime="{{ page.date | date: " %Y-%d-%B " }}" title="{{ page.date | date: " %B %d, %Y " }}">{{ page.date | date: "%B %d, %Y" }}</time>
      </div>
      <h1 class="title">{{ page.title }}</h1> {% if page.subtitle %}
      <h2 class="subtitle">{{ page.subtitle }}</h2>{% endif %}
    </header>

    <section>
      {{ content }} {% include _social.html %}
    </section>

    <footer>
      <address>
        <img src="/mol/images/t32k.png" alt="" class="profile_image">
        <p>Written by Koji Ishimoto, Web Developer in Vancouver.
          <br>
          <a href='http://cloud.feedly.com/#subscription%2Ffeed%2Fhttp%3A%2F%2Ft32k.me%2Fmol%2Ffeed.xml'  target='blank'><img id='feedlyFollow' src='http://s3.feedly.com/img/follows/feedly-follow-circle-flat-green_2x.png' alt='follow us in feedly' width='20' height='20' class="feed_image">Subscribe on feedly.</a>
        </p>
      </address>
    </footer>

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- MOL2 -->
    <section>
      <ins class="adsbygoogle"
           style="display:block"
           data-ad-client="ca-pub-1326877318485833"
           data-ad-slot="7307465775"
           data-ad-format="auto"></ins>
    </section>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>

  </div>
</article>