---
layout: base
---
{% if page.cover_image %}
<div class="article-cover">
    <div>
        <img src="/mol/images{{ page.cover_image }}" class="image">
    </div>
</div>
{% endif %}
<article>            
    <div class="container">
        <header>
            <div class="meta">
                By <address><a rel="author" href="/" title="Koji Ishimoto" target="_blank">Koji Ishimoto</a></address> &mdash;
                <time pubdate datetime="{{ page.date | date: "%Y-%d-%B" }}" title="{{ page.date | date: "%B %d, %Y" }}">{{ page.date | date: "%B %d, %Y" }}</time>
            </div>
            <h1 class="title">{{ page.title }}</h1>
            {% if page.subtitle %}<h2 class="subtitle">{{ page.subtitle }}</h2>{% endif %}
        </header>

        <section>
            {{ content }}
            {% include _social.html %}
        </section>

        <footer>
            <address>
               <img src="/mol/images/t32k.png" alt="">
                <p>Written by <strong><a rel="author" href="https://twitter.com/t32k" title="" target="_blank">Koji Ishimoto</a></strong><br>
                <span class="muted">Front-end Developer</span></p>
            </address>
        </footer>

        <section>
            <div class="fb-comments" data-href="{{ site.url }}mol{{ page.url }}" data-numposts="5"></div>
        <section>

    </div>
</article>